# Build and deploy
NODE_ENV=development
PORT=3000

WEBSITE_HOST=http://afonsodev.localhost:3000
API_BASE_URL=http://api.afonsodev.localhost:8080
TURNSTILE_KEY=xxxxx

# Docker image
IMAGE_NAME=ghcr.io/afonsodemori/afonsodev-web
IMAGE_TAGS=latest,20001231.0
